<div class="row col-md-12">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Desciption</th>
            <th>Priority</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let todo of todos">
            <td>{{todo.id}}</td>
            <td>{{todo.description}}</td>
            <td>{{todo.priority}}</td>
        </tr>
        </tbody>
    </table>
</div>
